1. Create a data frame storing student's Roll number, Name, Total Marks and Class. Sort the data frame using Name and Marks.

In [1]:
import pandas as pd

# Sample data
data = {
    'Roll number': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Total Marks': [85, 92, 78, 95, 88],
    'Class': [10, 11, 10, 12, 11]
}

# Create DataFrame
df = pd.DataFrame(data)

# Sort DataFrame by Name and Total Marks
df_sorted = df.sort_values(by=['Name', 'Total Marks'])

print(df_sorted)

   Roll number     Name  Total Marks  Class
0          101    Alice           85     10
1          102      Bob           92     11
2          103  Charlie           78     10
3          104    David           95     12
4          105      Eve           88     11

Just replace the sample data with your actual student data. This code will create a DataFrame, sort it first by Name in alphabetical order and then by Total Marks in ascending order. The result will be the sorted DataFrame.

2. Use pivot operation to reshape the above data frame using Class.

In [2]:
import pandas as pd

# Sample data
data = {
    'Roll number': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Total Marks': [85, 92, 78, 95, 88],
    'Class': [10, 11, 10, 12, 11]
}

# Create DataFrame
df = pd.DataFrame(data)

# Reshape using pivot_table
pivot_df = pd.pivot_table(df, values='Total Marks', index='Roll number', columns='Class', aggfunc='sum')

print(pivot_df)

Class          10    11    12
Roll number
101          85.0   NaN   NaN
102           NaN  92.0   NaN
103          78.0   NaN   NaN
104           NaN   NaN  95.0
105           NaN  88.0   NaN

In this code, the pivot_table function reshapes the DataFrame using the 'Roll number' as the index, 'Class' as the columns, and 'Total Marks' as the values. The aggfunc parameter specifies how to aggregate the values (in this case, we are using 'sum' to aggregate the total marks of students in each class). The resulting DataFrame will have 'Roll number' as the index, 'Class' as the columns, and the aggregated total marks as the values.

3. Write a program to count the number of null values in a series object.

In [3]:
import pandas as pd

# Sample data
data = [10, 20, None, 30, None, 40, 50, None, 60]

# Create a Series object
series = pd.Series(data)

# Count the number of null values
null_count = series.isnull().sum()

print("Number of null values:", null_count)

Number of null values: 3

In this program, we first create a Series object named series with some sample data, including some None values. We then use the isnull() function to create a boolean Series that indicates whether each element is null or not. The sum() function is then used on the boolean Series to count the number of True values, which represent null values. Finally, we print the count of null values.

4. Create a data frame with three columns Name, Age and Rating
* Find the sum of the columns
* Find average age and rating
* Find the standard deviation
* Describe the data frame

In [4]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 28, 22, 30],
    'Rating': [4.5, 3.8, 4.2, 4.0, 3.7]
}

# Create DataFrame
df = pd.DataFrame(data)

# Sum of columns
sum_of_columns = df.sum()

# Average age and rating
average_age = df['Age'].mean()
average_rating = df['Rating'].mean()

# Standard deviation
std_deviation_age = df['Age'].std()
std_deviation_rating = df['Rating'].std()

# Describe the DataFrame
df_description = df.describe()

print("Sum of columns:")
print(sum_of_columns)
print("\nAverage Age:", average_age)
print("Average Rating:", average_rating)
print("\nStandard Deviation of Age:", std_deviation_age)
print("Standard Deviation of Rating:", std_deviation_rating)
print("\nDataFrame Description:")
print(df_description)

Sum of columns:
Name      AliceBobCharlieDavidEve
Age                           137
Rating                       20.2
dtype: object

Average Age: 27.4
Average Rating: 4.04

Standard Deviation of Age: 3.9749213828703582
Standard Deviation of Rating: 0.3209361307176243

DataFrame Description:
             Age    Rating
count   5.000000  5.000000
mean   27.400000  4.040000
std     3.974921  0.320936
min    22.000000  3.700000
25%    25.000000  3.800000
50%    28.000000  4.000000
75%    30.000000  4.200000
max    32.000000  4.500000

This program creates a DataFrame with three columns (Name, Age, and Rating), calculates the sum of columns, average age and rating, standard deviations, and provides a description of the DataFrame using the describe() function. Just replace the sample data with your actual data if needed.

5. Create a data frame with three columns and 5 rows of random values. Find the row-wise sum using the apply() function.

In [5]:
import pandas as pd
import numpy as np

# Create a DataFrame with random values
np.random.seed(42)  # For reproducibility
data = {
    'Column1': np.random.randint(1, 11, 5),
    'Column2': np.random.randint(1, 11, 5),
    'Column3': np.random.randint(1, 11, 5)
}
df = pd.DataFrame(data)

# Define a function to calculate row-wise sum
def row_sum(row):
    return row.sum()

# Calculate row-wise sum using apply() function
row_sums = df.apply(row_sum, axis=1)

# Add row-wise sum as a new column
df['RowSum'] = row_sums

print(df)

   Column1  Column2  Column3  RowSum
0        7       10        4      21
1        4        3        8      15
2        8        7        8      23
3        5        8        3      16
4        7        5        6      18

In this program, we first create a DataFrame with three columns and five rows of random integer values between 1 and 10. Then, we define a function row_sum() that takes a row and returns the sum of its values. We use the apply() function along with axis=1 to apply the row_sum() function to each row of the DataFrame, resulting in a Series containing the row-wise sums. Finally, we add this Series as a new column named 'RowSum' to the DataFrame and print the updated DataFrame.

6. Create a data frame recording marks in Physics and Chemistry class tests. Find out at what point or below 100%(1), 95%(.95), and 50%(.5) of the scores are lying.

In [6]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'Physics': [85, 92, 78, 95, 88, 72, 90, 60, 68, 80],
    'Chemistry': [75, 88, 62, 80, 95, 70, 85, 58, 72, 78]
}

# Create DataFrame
df = pd.DataFrame(data)

# Calculate cumulative distribution for each subject
cumulative_dist_physics = np.sort(df['Physics']) / np.sum(df['Physics'])
cumulative_dist_chemistry = np.sort(df['Chemistry']) / np.sum(df['Chemistry'])

# Find points for specific percentiles
percentiles = [1, 0.95, 0.5]  # 100%, 95%, and 50%

points_physics = [np.percentile(cumulative_dist_physics, p * 100) for p in percentiles]
points_chemistry = [np.percentile(cumulative_dist_chemistry, p * 100) for p in percentiles]

print("Physics:")
for p, point in zip(percentiles, points_physics):
    print(f"{p*100}% or below: {point:.4f}")

print("\nChemistry:")
for p, point in zip(percentiles, points_chemistry):
    print(f"{p*100}% or below: {point:.4f}")

Physics:
100% or below: 0.1176
95.0% or below: 0.1159
50.0% or below: 0.1021

Chemistry:
100% or below: 0.1245
95.0% or below: 0.1204
50.0% or below: 0.1003

In this program, we first create a DataFrame with scores in Physics and Chemistry class tests. We then calculate the cumulative distribution by sorting the scores and dividing them by the sum of scores. After that, we use the np.percentile() function to find the points at which the specified percentiles (100%, 95%, and 50%) or below are lying in the cumulative distribution. Finally, we print these points for both Physics and Chemistry.

#7. Consider the following data frame and illustrate application aggregate functions both row-wise and column wise.
#A B C
#1.0 2 3.0
#4.0 5 6.0
#7.0 8 9.0
#NaN NaN NaN

In [1]:
#7. Consider the following data frame and illustrate application aggregate functions both row-wise and column wise.
#A B C
#1.0 2 3.0
#4.0 5 6.0
#7.0 8 9.0
#NaN NaN NaN

In [7]:
import pandas as pd
import numpy as np

# Create the DataFrame
data = {
    'A': [1.0, 4.0, 7.0, np.nan],
    'B': [2, 5, 8, np.nan],
    'C': [3.0, 6.0, 9.0, np.nan]
}

df = pd.DataFrame(data)

# Row-wise aggregate functions
row_sums = df.apply(np.sum, axis=1)
row_means = df.apply(np.mean, axis=1)
row_maxs = df.apply(np.max, axis=1)

# Column-wise aggregate functions
col_sums = df.apply(np.sum, axis=0)
col_means = df.apply(np.mean, axis=0)
col_maxs = df.apply(np.max, axis=0)

print("Row-wise aggregate functions:")
print("Sum of each row:")
print(row_sums)
print("\nMean of each row:")
print(row_means)
print("\nMax of each row:")
print(row_maxs)

print("\nColumn-wise aggregate functions:")
print("Sum of each column:")
print(col_sums)
print("\nMean of each column:")
print(col_means)
print("\nMax of each column:")
print(col_maxs)

Row-wise aggregate functions:
Sum of each row:
0     6.0
1    15.0
2    24.0
3     0.0
dtype: float64

Mean of each row:
0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64

Max of each row:
0    3.0
1    6.0
2    9.0
3    NaN
dtype: float64

Column-wise aggregate functions:
Sum of each column:
A    12.0
B    15.0
C    18.0
dtype: float64

Mean of each column:
A    4.0
B    5.0
C    6.0
dtype: float64

Max of each column:
A    7.0
B    8.0
C    9.0
dtype: float64

In this program, we create the DataFrame based on the provided data. Then we use the apply() function to apply the aggregate functions (np.sum, np.mean, and np.max) both row-wise (axis=1) and column-wise (axis=0). The results are printed to show the calculated sums, means, and max values for each row and each column.

8. Download phon.csv form http://python-ds.com/download-aggregation-csv-data and write code to find:
* How many rows are there in the dataset.
* What was the longest phone call / data entry?
* How many seconds of phone calls recorded in total?
* Number of nonnull unique network entries.
* How many entries are there for each month?
* Get the first entry for each month
* Get the sum of the durations per month
* Get the number of dates/entries in each month
* Sum of durations, for calls only, to each network
* How many calls, sms, and data entries are in each month?
* How many calls. texts. and data are sent per month, split by network type?

9. Consider the table that describes a dataset about a department store. Write the code to know what is the mean purchase amount of each user. The desired output should be

10. Create a data frame with any values of your choice. Reindex the data frame rows and fill the missing values with value 100. Reindex the data frame columns and fill the missing values with value 25.

In [8]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, 12]
}

# Create DataFrame
df = pd.DataFrame(data)

# Reindex rows and fill missing values with 100
new_index = ['row1', 'row2', 'row3', 'row4']
df_reindexed_rows = df.reindex(new_index, fill_value=100)

# Reindex columns and fill missing values with 25
new_columns = ['col1', 'col2', 'col3']
df_reindexed_columns = df_reindexed_rows.reindex(columns=new_columns, fill_value=25)

print("Original DataFrame:")
print(df)
print("\nDataFrame with Reindexed Rows and Filled Missing Values:")
print(df_reindexed_rows)
print("\nDataFrame with Reindexed Columns and Filled Missing Values:")
print(df_reindexed_columns)

Original DataFrame:
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  4.0  8.0  12

DataFrame with Reindexed Rows and Filled Missing Values:
          A      B    C
row1  100.0  100.0  100
row2  100.0  100.0  100
row3  100.0  100.0  100
row4  100.0  100.0  100

DataFrame with Reindexed Columns and Filled Missing Values:
      col1  col2  col3
row1    25    25    25
row2    25    25    25
row3    25    25    25
row4    25    25    25

In this example, we first create a DataFrame with some sample data. Then, we reindex the rows using the reindex() function and specify the new index (new_index) along with the value to fill missing values (100). After that, we reindex the columns using the reindex() function again, this time specifying the new columns (new_columns) and the value to fill missing values (25). Finally, we print the original DataFrame, the DataFrame with reindexed rows, and the DataFrame with reindexed columns.

11. Download the gapminder data from URL "http://bi.ly/2cLzoxH." Print the names of the columns. Rename the column labels using both the ways.

12. Create a data frame with columns country, year and reports. Demonstrate changing the rows and columns.

In [9]:
import pandas as pd

# Sample data
data = {
    'country': ['USA', 'Canada', 'Mexico', 'USA', 'Canada'],
    'year': [2019, 2019, 2019, 2020, 2020],
    'reports': [100, 150, 80, 120, 200]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Changing rows using indexing
df.loc[0] = ['France', 2021, 50]
df.loc[3] = ['Germany', 2021, 75]

# Changing columns using indexing
df['reports'] = df['reports'] + 10
df['year'] = df['year'] + 1

# Display the modified DataFrame
print("\nModified DataFrame:")
print(df)

Original DataFrame:
  country  year  reports
0     USA  2019      100
1  Canada  2019      150
2  Mexico  2019       80
3     USA  2020      120
4  Canada  2020      200

Modified DataFrame:
   country  year  reports
0   France  2022       60
1   Canada  2020      160
2   Mexico  2020       90
3  Germany  2022       85
4   Canada  2021      210

In this example, we first create a DataFrame with columns 'country', 'year', and 'reports'. Then we demonstrate changing rows and columns:

1. We change rows using the .loc[] indexer. We replace the first row with new data for 'France' and 2021, and the fourth row with data for 'Germany' and 2021.

2. We change columns using column indexing. We add 10 to all 'reports' values using df['reports'] = df['reports'] + 10, and we increment all 'year' values by 1 using df['year'] = df['year'] + 1.

The output will show you the original DataFrame and the modified DataFrame after making the changes.

13. Create a data frame with a column Gender having values "m" and "f" and a column Height. Find average height of both males and females.

In [10]:
import pandas as pd

# Sample data
data = {
    'Gender': ['m', 'f', 'm', 'f', 'm', 'f', 'm', 'f'],
    'Height': [175, 162, 180, 155, 170, 168, 185, 160]
}

# Create DataFrame
df = pd.DataFrame(data)

# Calculate average height for males and females
average_height_males = df[df['Gender'] == 'm']['Height'].mean()
average_height_females = df[df['Gender'] == 'f']['Height'].mean()

print("Average Height of Males:", average_height_males)
print("Average Height of Females:", average_height_females)

Average Height of Males: 177.5
Average Height of Females: 161.25

In this example, we first create a DataFrame with a 'Gender' column and a 'Height' column, containing sample data. We then calculate the average height for males (where 'Gender' is 'm') and for females (where 'Gender' is 'f') using the mean() function on the 'Height' column for the respective groups. Finally, we print out the average heights for both males and females.

14. Create a data frame with name, age and marks.
* Group the data by a column and return the mean age per group
* Capitalizes all the column headers
* Create a pipeline that applies the mean_age_by_group function and then applies the uppercase column name function

In [11]:
import pandas as pd

# Sample data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Fiona'],
    'age': [25, 32, 28, 22, 30, 29],
    'marks': [85, 92, 78, 95, 88, 90]
}

# Create DataFrame
df = pd.DataFrame(data)

# Function to calculate mean age per group
def mean_age_by_group(group):
    return group['age'].mean()

# Function to capitalize column headers
def capitalize_column_headers(df):
    df.columns = df.columns.str.capitalize()
    return df

# Group by 'marks' column and calculate mean age
grouped_mean_age = df.groupby('marks').apply(mean_age_by_group)

# Create a pipeline
pipeline = (df.groupby('marks')
            .apply(mean_age_by_group)
            .reset_index()
            .pipe(capitalize_column_headers))

print("Grouped Mean Age:")
print(grouped_mean_age)
print("\nPipeline Result:")
print(pipeline)

Grouped Mean Age:
marks
78    28.0
85    25.0
88    30.0
90    29.0
92    32.0
95    22.0
dtype: float64

Pipeline Result:
   Marks   NaN
0     78  28.0
1     85  25.0
2     88  30.0
3     90  29.0
4     92  32.0
5     95  22.0

In this example:

1. We first create a DataFrame with columns 'name', 'age', and 'marks'.
2. We define the function mean_age_by_group() which calculates the mean age for each group based on the 'marks' column.
3. We define the function capitalize_column_headers() to capitalize the column headers of a DataFrame.
4. We use the groupby() function to group the data by the 'marks' column and apply the mean_age_by_group() function.
5. We create a pipeline using the pipe() function, where we first calculate the mean age using the mean_age_by_group() function, then reset the index, and finally apply the capitalize_column_headers() function.
The output will show the calculated mean age per group and the result of the pipeline with capitalized column headers.

15. Create a data frame containing 10 rows and 4 columns of random values.
* Use date values in gaps of 10 to specify the index of the data frame.
* Apply sum on the data frame
* Find mean of first column
* Find minimum values of last two columns

In [12]:
import pandas as pd
import numpy as np

# Generate random data
np.random.seed(42)
data = np.random.randint(1, 101, size=(10, 4))

# Generate date index
date_index = pd.date_range(start='2023-01-01', periods=10, freq='10D')

# Create DataFrame with date index
df = pd.DataFrame(data, index=date_index, columns=['Column1', 'Column2', 'Column3', 'Column4'])

# Display the DataFrame
print("DataFrame:")
print(df)

# Calculate sum of the DataFrame
df_sum = df.sum()

# Calculate mean of the first column
mean_column1 = df['Column1'].mean()

# Calculate minimum values of last two columns
min_column3 = df['Column3'].min()
min_column4 = df['Column4'].min()

print("\nSum of the DataFrame:")
print(df_sum)
print("\nMean of the First Column:")
print(mean_column1)
print("\nMinimum Values of Last Two Columns:")
print("Minimum of Column3:", min_column3)
print("Minimum of Column4:", min_column4)

DataFrame:
            Column1  Column2  Column3  Column4
2023-01-01       52       93       15       72
2023-01-11       61       21       83       87
2023-01-21       75       75       88      100
2023-01-31       24        3       22       53
2023-02-10        2       88       30       38
2023-02-20        2       64       60       21
2023-03-02       33       76       58       22
2023-03-12       89       49       91       59
2023-03-22       42       92       60       80
2023-04-01       15       62       62       47

Sum of the DataFrame:
Column1    395
Column2    623
Column3    569
Column4    579
dtype: int64

Mean of the First Column:
39.5

Minimum Values of Last Two Columns:
Minimum of Column3: 15
Minimum of Column4: 21

In this example:

1. We generate random data using np.random.randint().
2. We use the pd.date_range() function to create a date index with a frequency of 10 days.
3. We create the DataFrame using the generated random data and the date index.
4. We calculate the sum of the DataFrame using the sum() function.
5. We calculate the mean of the first column using indexing and the mean() function.
6. We calculate the minimum values of the last two columns using indexing and the min() function.
The output will show the created DataFrame, the sum of the DataFrame, the mean of the first column, and the minimum values of the last two columns.

16. Download user_device and user_usage from GitHub and demonstrate the merge() operation on it.

17. Write a program that concatenates two data frames storing informatiob about students along column axis and a continuous index.

In [17]:
import pandas as pd

# Sample data for data frames
data1 = {'Roll Number': [101, 102, 103],
         'Name': ['Alice', 'Bob', 'Charlie'],
         'Age': [20, 21, 19]}

data2 = {'Roll Number': [104, 105, 106],
         'Name': ['David', 'Eve', 'Fiona'],
         'Age': [22, 20, 23]}

# Create data frames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Concatenate data frames along column axis
concatenated_df = pd.concat([df1, df2], axis=1)

print("Concatenated DataFrame:")
print(concatenated_df)

Concatenated DataFrame:
   Roll Number     Name  Age  Roll Number   Name  Age
0          101    Alice   20          104  David   22
1          102      Bob   21          105    Eve   20
2          103  Charlie   19          106  Fiona   23

In this example:

1. We create two data frames (df1 and df2) with student information.
2. We use the pd.concat() function to concatenate the data frames along the column axis (axis=1).
3. The continuous index will be assigned automatically.
The output will display the concatenated DataFrame with student information along the column axis.

18. Write a program to concatenate three data frames and append two data frames.

In [16]:
import pandas as pd

# Sample data for data frames
data1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
data2 = {'A': [7, 8, 9], 'B': [10, 11, 12]}
data3 = {'A': [13, 14, 15], 'B': [16, 17, 18]}
data4 = {'A': [19, 20, 21], 'B': [22, 23, 24]}

# Create data frames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)

# Concatenate data frames vertically
concatenated_df_vertical = pd.concat([df1, df2, df3], ignore_index=True)

# Concatenate data frames horizontally
concatenated_df_horizontal = pd.concat([df1, df2, df3], axis=1)

# Append data frames using concat
appended_df = pd.concat([df1, df4, df3], ignore_index=True)

print("Concatenated DataFrame (Vertical):")
print(concatenated_df_vertical)

print("\nConcatenated DataFrame (Horizontal):")
print(concatenated_df_horizontal)

print("\nAppended DataFrame:")
print(appended_df)

Concatenated DataFrame (Vertical):
    A   B
0   1   4
1   2   5
2   3   6
3   7  10
4   8  11
5   9  12
6  13  16
7  14  17
8  15  18

Concatenated DataFrame (Horizontal):
   A  B  A   B   A   B
0  1  4  7  10  13  16
1  2  5  8  11  14  17
2  3  6  9  12  15  18

Appended DataFrame:
    A   B
0   1   4
1   2   5
2   3   6
3  19  22
4  20  23
5  21  24
6  13  16
7  14  17
8  15  18

I appreciate your patience, and I apologize for any confusion caused by the previous response. This corrected code should work as expected.