Write a Python code to detect outliers using Z-score technique.

In [1]:
import pandas as pd
from scipy.stats import zscore

In [2]:
# Load the CSV file
data = pd.read_csv('car-mpg.csv')

In [3]:
# Calculate Z-scores for each column
z_scores = zscore(data)
z_scores

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year
0,-0.706439,1.498191,1.090604,NaN,0.630870,-1.295498,-1.627426
1,-1.090751,1.498191,1.503514,NaN,0.854333,-1.477038,-1.627426
2,-0.706439,1.498191,1.196232,NaN,0.550470,-1.658577,-1.627426
3,-0.962647,1.498191,1.061796,NaN,0.546923,-1.295498,-1.627426
4,-0.834543,1.498191,1.042591,NaN,0.565841,-1.840117,-1.627426
...,...,...,...,...,...,...,...
393,0.446497,-0.856321,-0.513026,NaN,-0.213324,0.011586,1.621983
394,2.624265,-0.856321,-0.925936,NaN,-0.993671,3.279296,1.621983
395,1.087017,-0.856321,-0.561039,NaN,-0.798585,-1.440730,1.621983
396,0.574601,-0.856321,-0.705077,NaN,-0.408411,1.100822,1.621983
397,0.958913,-0.856321,-0.714680,NaN,-0.296088,1.391285,1.621983

In [6]:
# Create a DataFrame to hold Z-scores
z_scores_df = pd.DataFrame(z_scores, columns=data.columns)
z_scores_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year
0,-0.706439,1.498191,1.090604,NaN,0.630870,-1.295498,-1.627426
1,-1.090751,1.498191,1.503514,NaN,0.854333,-1.477038,-1.627426
2,-0.706439,1.498191,1.196232,NaN,0.550470,-1.658577,-1.627426
3,-0.962647,1.498191,1.061796,NaN,0.546923,-1.295498,-1.627426
4,-0.834543,1.498191,1.042591,NaN,0.565841,-1.840117,-1.627426
...,...,...,...,...,...,...,...
393,0.446497,-0.856321,-0.513026,NaN,-0.213324,0.011586,1.621983
394,2.624265,-0.856321,-0.925936,NaN,-0.993671,3.279296,1.621983
395,1.087017,-0.856321,-0.561039,NaN,-0.798585,-1.440730,1.621983
396,0.574601,-0.856321,-0.705077,NaN,-0.408411,1.100822,1.621983
397,0.958913,-0.856321,-0.714680,NaN,-0.296088,1.391285,1.621983

In [7]:
# Set the Z-score threshold for outlier detection
z_score_threshold = 3  # You can adjust this threshold as needed

In [8]:
# Identify outliers based on Z-scores
outliers = (z_scores_df > z_score_threshold) | (z_scores_df < -z_score_threshold)

In [9]:
# Print the indices of outlier rows for each column
for column in outliers.columns:
    column_outliers = outliers.index[outliers[column]]
    print(f"Outliers in column '{column}': {column_outliers}")

Outliers in column 'mpg': Index([], dtype='int64')
Outliers in column 'cylinders': Index([], dtype='int64')
Outliers in column 'displacement': Index([], dtype='int64')
Outliers in column 'horsepower': Index([], dtype='int64')
Outliers in column 'weight': Index([], dtype='int64')
Outliers in column 'acceleration': Index([299, 394], dtype='int64')
Outliers in column 'model-year': Index([], dtype='int64')